html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button {
  border: none;
  background: none;
}

body {
  line-height: 1.2;
}

ol {
  padding-left: 1.4em;
  list-style: decimal;
}

ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  outline: none !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  shape-margin: 0.75rem;
}

@font-face {
  font-family: Primary-Semibold;
  font-display: swap;
  src: url("../fonts/Hauora-SemiBold.woff2") format("woff2"), url("../fonts/Hauora-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Primary-Bold;
  font-display: swap;
  src: url("../fonts/Hauora-Bold.woff2") format("woff2"), url("../fonts/Hauora-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Primary-Regular;
  font-display: swap;
  src: url("../fonts/Hauora-Regular.woff2") format("woff2"), url("../fonts/Hauora-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Primary-ExtraBold;
  font-display: swap;
  src: url("../fonts/Hauora-ExtraBold.woff2") format("woff2"), url("../fonts/Hauora-ExtraBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Primary-Medium;
  font-display: swap;
  src: url("../fonts/Hauora-Medium.woff2") format("woff2"), url("../fonts/Hauora-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Primary-ExtraLight;
  font-display: swap;
  src: url("../fonts/Hauora-ExtraLight.woff2") format("woff2"), url("../fonts/Hauora-ExtraLight.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Primary-Light;
  font-display: swap;
  src: url("../fonts/Hauora-Light.woff2") format("woff2"), url("../fonts/Hauora-Light.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: YesevaOne-Regular;
  font-display: swap;
  src: url("../fonts/YesevaOne-Regular.woff2") format("woff2"), url("../fonts/YesevaOne-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
:root {
  --minheight: 500px;
}

.main-btn, button,
button:hover,
button:active,
button:visited,
button:focus, a,
a:hover,
a:active,
a:visited,
a:focus {
  transition: all 0.3s ease-in-out;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none !important;
  color: #413E37;
}

button,
button:hover,
button:active,
button:visited,
button:focus {
  text-decoration: none !important;
  outline: none !important;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1384px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

header {
  position: fixed;
  width: 100%;
  transition: all 0.3s ease-in-out;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(65, 62, 55, 0.1);
  padding: 16px;
}
header.hide {
  top: -55px;
}
header * {
  transition: all 0.3s ease-in-out;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: Primary-Medium;
}
header .container .left-menu {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #413E37;
}
header .container .left-menu .logo {
  font-size: 24px;
}
header .container .left-menu .menu-links {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
header .container .left-menu .menu-links::before, header .container .left-menu .menu-links::after {
  content: "";
  width: 1px;
  height: 16px;
  background: rgba(65, 62, 55, 0.2);
}
header .container .left-menu .header-tel {
  position: relative;
  display: flex;
  align-items: center;
}
header .container .left-menu .header-tel::after {
  content: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="%2355CD6C"/></svg>');
  width: 8px;
  height: 8px;
  position: absolute;
  top: -10px;
  right: -6px;
}
header .container .left-menu .header-tel svg {
  margin-right: 6px;
}
header .container .right-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
header .container .right-menu > div {
  display: flex;
  align-items: center;
  gap: 6px;
}

footer {
  position: relative;
}

.main-btn {
  padding: 1.1em 1em;
  border-radius: 1em;
  line-height: 1em;
  position: relative;
  display: inline-block;
}
.main-btn.sh-btn {
  padding: 0.5em 0.7em;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.08);
}
.main-title {
  margin-bottom: 0.5em;
}

main {
  flex: 1 1 auto;
}