header {
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba($color: $clr-main, $alpha: .25);
    padding: 16px;
    background: #fff;
    &.hide {
        top: -55px;
    }

    * {
        transition: all .3s ease-in-out;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-family: $f-m;

        .left-menu {
            display: flex;
            align-items: center;
            gap: 12px;
            color: $clr-main;
            .logo {
                font-size: 24px;
            }
            .menu-links {
                position: relative;
                display: flex;
                align-items: center;
                gap: 12px;
                &::before, &::after {
                    content: '';
                    width: 1px;
                    height: 16px;
                    background: $clr-greytext2;
                }
            }
            .header-tel {
                position: relative;
                display: flex;
                align-items: center;
                &::after {
                    content: url('data:image/svg+xml,<svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="%2355CD6C"/></svg>');
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: -10px;
                    right: -6px;
                }
                svg {
                    margin-right: 6px;
                }
            }
        }

        .right-menu {
            display: flex;
            align-items: center;
            gap: 18px;
            &>div {
                display: flex;
                align-items: center;
                gap: 6px;
                &:last-child {
                    &::before {
                        content: '';
                        width: 1px;
                        height: 16px;
                        background: $clr-greytext2;
                        margin-right: 12px;
                    }
                }
            }
        }
    }
}