.product-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width:600px) {
        gap: 10px;
    }
    img {
        width: 100%;
        height: auto;
        aspect-ratio: 320/375;
        border-radius: 4px;

    }

    

    .name-shop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        @media (max-width:600px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
        .product-name {
            @extend %text_body1;
            color: $clr-main;
        }

        .product-shop {
            height: 52px;
            width: 52px;
            position: relative;
            background-color: transparent;
            border: 1px solid $clr-greytext2;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            &:hover {
                border: 1px solid $clr-mainlight;
            }
            &:before {
                display: inline-block;
                content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3530_221)"><path d="M11.9113 9.40599e-05C11.5212 0.0300941 11.1313 0.240094 10.8913 0.570094L3.87125 9.00009H0.03125V12.0001H3.03125V22.9801C3.03125 23.5201 3.51125 24.0001 4.05125 24.0001H19.9812C20.5212 24.0001 21.0012 23.5201 21.0012 22.9801V12.0001H24.0012V9.00009H20.1612C19.3512 8.01009 12.9912 0.420094 12.9312 0.360094C12.6012 0.0900941 12.2712 -0.0599059 11.9113 -0.0299059V9.40599e-05ZM12.0013 3.84009L16.3212 9.00009H7.68125L12.0013 3.84009ZM7.50125 15.0001C8.34125 15.0001 9.00125 15.6601 9.00125 16.5001V19.5001C9.00125 20.3401 8.34125 21.0001 7.50125 21.0001C6.66125 21.0001 6.00125 20.3401 6.00125 19.5001V16.5001C6.00125 15.6601 6.66125 15.0001 7.50125 15.0001ZM16.5012 15.0001C17.3412 15.0001 18.0012 15.6601 18.0012 16.5001V19.5001C18.0012 20.3401 17.3412 21.0001 16.5012 21.0001C15.6612 21.0001 15.0012 20.3401 15.0012 19.5001V16.5001C15.0012 15.6601 15.6612 15.0001 16.5012 15.0001Z" fill="%23413E37" /></g><defs><clipPath id="clip0_3530_221"><rect width="24" height="24" fill="white" /></clipPath></defs></svg>');
                width: 24px;
                height: 24px;
            }
            @media (max-width:600px) {
                border-radius: 2px;
                height: 34px;
                width: 34px;
                &:before {
                    content: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3706_384)"><path d="M7.93953 0.593813C7.67953 0.613813 7.41953 0.753813 7.25953 0.973813L2.57953 6.59381H0.0195312V8.59381H2.01953V15.9138C2.01953 16.2738 2.33953 16.5938 2.69953 16.5938H13.3195C13.6795 16.5938 13.9995 16.2738 13.9995 15.9138V8.59381H15.9995V6.59381H13.4395C12.8995 5.93381 8.65953 0.873813 8.61953 0.833813C8.39953 0.653813 8.17953 0.553813 7.93953 0.573813V0.593813ZM7.99953 3.15381L10.8795 6.59381H5.11953L7.99953 3.15381ZM4.99953 10.5938C5.55953 10.5938 5.99953 11.0338 5.99953 11.5938V13.5938C5.99953 14.1538 5.55953 14.5938 4.99953 14.5938C4.43953 14.5938 3.99953 14.1538 3.99953 13.5938V11.5938C3.99953 11.0338 4.43953 10.5938 4.99953 10.5938ZM10.9995 10.5938C11.5595 10.5938 11.9995 11.0338 11.9995 11.5938V13.5938C11.9995 14.1538 11.5595 14.5938 10.9995 14.5938C10.4395 14.5938 9.99953 14.1538 9.99953 13.5938V11.5938C9.99953 11.0338 10.4395 10.5938 10.9995 10.5938Z" fill="%23413E37"/></g><defs><clipPath id="clip0_3706_384"><rect width="16" height="16" fill="white" transform="translate(0 0.59375)"/></clipPath></defs></svg>');
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
}