@font-face {
	font-family: Primary-Semibold;
	font-display: swap;
	src: url("../fonts/suisseintl-semibold.woff2") format("woff2"), url("../fonts/suisseintl-semibold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Primary-Book;
	font-display: swap;
	src: url("../fonts/suisseintl-book.woff2") format("woff2"), url("../fonts/suisseintl-book.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Primary-Regular;
	font-display: swap;
	src: url("../fonts/suisseintl-regular.woff2") format("woff2"), url("../fonts/suisseintl-regular.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Primary-Medium;
	font-display: swap;
	src: url("../fonts/suisseintl-medium.woff2") format("woff2"), url("../fonts/suisseintl-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: ViaodaLibre-Regular;
	font-display: swap;
	src: url("../fonts/ViaodaLibre-Regular.woff2") format("woff2"), url("../fonts/ViaodaLibre-Regular.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}