header {
    position: fixed;
    width: 100%;
    background: $clr-accent;
    transition: all .3s ease-in-out;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
    @extend %body_100;
    color: $clr-white;

    &.hide {
        top: -55px;
    }

    * {
        transition: all .3s ease-in-out;
    }

    .sub-header {
        display: flex;
        padding: 15px 0;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);
        align-items: center;
        gap: 20px;

        .sh-address {
            div {
                
            color: $clr-white;
            }
            flex: 1 1 auto;
            text-align: left;
            display: flex;
            align-items: center;

            svg {
                margin-right: 5px;

                rect.svg-bg-round {
                    stroke: $clr-accent;
                }
            }

            div:last-child {
                color: rgba($color: #fff, $alpha: 0.4);
                margin-left: 5px;
            }
        }

        .sh-tel {
            color: $clr-white;
            display: flex;
            align-items: center;
            gap: 5px;

            &::before {
                content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_2669_46" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="2" width="16" height="16"><path d="M2.08325 2.0835H17.9166V17.9168H2.08325V2.0835Z" fill="white"/></mask><g mask="url(%23mask0_2669_46)"><path d="M11.4916 2.20018L11.0166 2.13351C9.58903 1.92739 8.13229 2.13131 6.8162 2.72148C5.50011 3.31166 4.37889 4.26378 3.58325 5.46684C2.73671 6.61683 2.23207 7.98246 2.1274 9.40658C2.02273 10.8307 2.32228 12.2554 2.99159 13.5168C3.06008 13.6433 3.10273 13.7821 3.11704 13.9251C3.13134 14.0682 3.11703 14.2127 3.07492 14.3502C2.73325 15.5252 2.41659 16.7085 2.08325 17.9502L2.49992 17.8252C3.62492 17.5252 4.74992 17.2252 5.87492 16.9502C6.11237 16.9008 6.35918 16.924 6.58325 17.0168C7.59258 17.5094 8.69561 17.7804 9.81829 17.8117C10.941 17.8429 12.0574 17.6336 13.0925 17.1979C14.1277 16.7621 15.0576 16.11 15.82 15.2853C16.5824 14.4605 17.1595 13.4823 17.5127 12.4161C17.8659 11.35 17.9869 10.2206 17.8677 9.10385C17.7485 7.98707 17.3918 6.90871 16.8215 5.94114C16.2513 4.97357 15.4806 4.13917 14.5613 3.49395C13.6421 2.84872 12.5954 2.4076 11.4916 2.20018ZM13.5916 13.1335C13.2887 13.4047 12.9194 13.5907 12.5212 13.6727C12.1231 13.7547 11.7103 13.7296 11.3249 13.6002C9.57872 13.1085 8.06376 12.0129 7.04992 10.5085C6.66266 9.97645 6.35134 9.39307 6.12492 8.77518C6.0023 8.41666 5.98018 8.0314 6.06098 7.66121C6.14178 7.29101 6.3224 6.95 6.58325 6.67518C6.71024 6.51311 6.8831 6.39304 7.0793 6.33061C7.2755 6.26818 7.48596 6.26629 7.68325 6.32518C7.84992 6.36685 7.96659 6.60851 8.11659 6.79184C8.23825 7.13601 8.38075 7.47268 8.54159 7.80018C8.66361 7.96727 8.71457 8.17585 8.68334 8.38038C8.65211 8.58491 8.54124 8.76878 8.37492 8.89184C7.99992 9.22518 8.05825 9.50018 8.32492 9.87518C8.91446 10.7245 9.72792 11.3937 10.6749 11.8085C10.9416 11.9252 11.1416 11.9502 11.3166 11.6752C11.3916 11.5668 11.4916 11.4752 11.5749 11.3752C12.0583 10.7668 11.9083 10.7752 12.6749 11.1085C12.9191 11.211 13.1558 11.331 13.3833 11.4668C13.6083 11.6002 13.9499 11.7418 13.9999 11.9418C14.048 12.1588 14.0354 12.3849 13.9633 12.5951C13.8913 12.8053 13.7627 12.9916 13.5916 13.1335Z" fill="white"/></g></svg>');
                position: relative;
                width: 20px;
                height: 20px;
            }
        }

        .sh-inst {
            color: $clr-white;
            display: flex;
            align-items: center;
            gap: 5px;

            &::before {
                content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.8571 1.6665C11.7946 1.669 12.2704 1.674 12.6813 1.68567L12.8429 1.6915C13.0296 1.69817 13.2138 1.7065 13.4363 1.7165C14.3229 1.75817 14.9279 1.89817 15.4588 2.104C16.0088 2.31567 16.4721 2.60234 16.9354 3.06484C17.3593 3.48128 17.6873 3.98523 17.8963 4.5415C18.1021 5.07234 18.2421 5.67734 18.2838 6.56484C18.2938 6.7865 18.3021 6.97067 18.3088 7.15817L18.3138 7.31984C18.3263 7.72984 18.3313 8.20567 18.3329 9.14317L18.3338 9.76484V10.8565C18.3358 11.4643 18.3294 12.0722 18.3146 12.6798L18.3096 12.8415C18.3029 13.029 18.2946 13.2132 18.2846 13.4348C18.2429 14.3223 18.1013 14.9265 17.8963 15.4582C17.6873 16.0144 17.3593 16.5184 16.9354 16.9348C16.519 17.3587 16.015 17.6867 15.4588 17.8957C14.9279 18.1015 14.3229 18.2415 13.4363 18.2832L12.8429 18.3082L12.6813 18.3132C12.2704 18.3248 11.7946 18.3307 10.8571 18.3323L10.2354 18.3332H9.1446C8.53648 18.3353 7.92837 18.3289 7.32043 18.314L7.15877 18.309C6.96094 18.3015 6.76316 18.2929 6.56543 18.2832C5.67877 18.2415 5.07377 18.1015 4.5421 17.8957C3.98613 17.6866 3.48247 17.3586 3.06627 16.9348C2.64205 16.5185 2.31386 16.0145 2.1046 15.4582C1.89877 14.9273 1.75877 14.3223 1.7171 13.4348L1.6921 12.8415L1.68793 12.6798C1.67257 12.0722 1.66563 11.4643 1.6671 10.8565V9.14317C1.66479 8.53534 1.67091 7.9275 1.68543 7.31984L1.69127 7.15817C1.69793 6.97067 1.70627 6.7865 1.71627 6.56484C1.75793 5.67734 1.89793 5.07317 2.10377 4.5415C2.31351 3.985 2.64229 3.48103 3.0671 3.06484C3.48306 2.64113 3.98642 2.31323 4.5421 2.104C5.07377 1.89817 5.67793 1.75817 6.56543 1.7165C6.7871 1.7065 6.9721 1.69817 7.15877 1.6915L7.32043 1.6865C7.92809 1.6717 8.53593 1.66531 9.14377 1.66734L10.8571 1.6665ZM10.0004 5.83317C8.89537 5.83317 7.83556 6.27216 7.05416 7.05356C6.27275 7.83496 5.83377 8.89477 5.83377 9.99984C5.83377 11.1049 6.27275 12.1647 7.05416 12.9461C7.83556 13.7275 8.89537 14.1665 10.0004 14.1665C11.1055 14.1665 12.1653 13.7275 12.9467 12.9461C13.7281 12.1647 14.1671 11.1049 14.1671 9.99984C14.1671 8.89477 13.7281 7.83496 12.9467 7.05356C12.1653 6.27216 11.1055 5.83317 10.0004 5.83317ZM10.0004 7.49984C10.3287 7.49978 10.6538 7.56439 10.9572 7.68998C11.2605 7.81557 11.5361 7.99967 11.7683 8.23178C12.0005 8.46388 12.1847 8.73945 12.3104 9.04274C12.4361 9.34604 12.5008 9.67112 12.5009 9.99942C12.5009 10.3277 12.4363 10.6528 12.3107 10.9562C12.1851 11.2595 12.001 11.5351 11.7689 11.7673C11.5368 11.9995 11.2612 12.1837 10.9579 12.3094C10.6547 12.4351 10.3296 12.4998 10.0013 12.4998C9.33823 12.4998 8.70234 12.2364 8.2335 11.7676C7.76466 11.2988 7.50127 10.6629 7.50127 9.99984C7.50127 9.3368 7.76466 8.70091 8.2335 8.23207C8.70234 7.76323 9.33823 7.49984 10.0013 7.49984M14.3763 4.58317C14.1 4.58317 13.835 4.69292 13.6397 4.88827C13.4443 5.08362 13.3346 5.34857 13.3346 5.62484C13.3346 5.9011 13.4443 6.16606 13.6397 6.36141C13.835 6.55676 14.1 6.6665 14.3763 6.6665C14.6525 6.6665 14.9175 6.55676 15.1128 6.36141C15.3082 6.16606 15.4179 5.9011 15.4179 5.62484C15.4179 5.34857 15.3082 5.08362 15.1128 4.88827C14.9175 4.69292 14.6525 4.58317 14.3763 4.58317Z" fill="white"/></svg>');
                position: relative;
                width: 20px;
                height: 20px;
            }
        }
    }

    .main-header {
        display: flex;
        padding: 15px 0 ;
        align-items: center;
        gap: 20px;

        .logo {
            flex: 1 1 auto;

            img:first-child {
                display: inline-block;
                margin-right: 5px;
            }
            img:last-child {
                filter: invert(1);
            }
        }

        a {
            color: $clr-white;
        }
    }

    &.active {
        color: $clr-black-text;
        background: $clr-gray-bg;
        border-bottom: 1px solid rgba($color: #1B1B69, $alpha: 0.15);

        .sub-header {
            border-bottom: 1px solid rgba($color: #1B1B69, $alpha: 0.15);
            .sh-address {
                div {
                    color: $clr-black-text;
                }
                svg {
                    rect.svg-bg-round {
                        stroke: $clr-gray-bg;
                    }
                }
                div:last-child {
                    color: rgba($color: #131325, $alpha: 0.4);
                }
            }

            .sh-tel {
                color: $clr-black-text;

                &::before {
                    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.34141 9.89764C2.34104 11.242 2.69504 12.5546 3.36816 13.7115L2.27704 17.6645L6.35404 16.6038C7.48169 17.2129 8.74513 17.5321 10.029 17.5322H10.0324C14.2709 17.5322 17.721 14.11 17.7229 9.90366C17.7237 7.86539 16.9244 5.94874 15.4723 4.50676C14.0204 3.0649 12.0895 2.27042 10.0321 2.26949C5.79316 2.26949 2.34323 5.6915 2.34148 9.89764" fill="url(%23paint0_linear_2539_1006)"/><path d="M2.06688 9.89516C2.06644 11.2878 2.43312 12.6474 3.13025 13.8458L2 17.9405L6.22319 16.8418C7.38681 17.4713 8.69694 17.8032 10.0301 17.8037H10.0335C14.424 17.8037 17.9981 14.2584 18 9.90149C18.0007 7.78998 17.1727 5.80443 15.6687 4.31079C14.1646 2.81733 12.1646 1.99426 10.0335 1.99339C5.64225 1.99339 2.06863 5.5382 2.06688 9.89516ZM4.58194 13.6394L4.42425 13.391C3.76137 12.3452 3.4115 11.1367 3.412 9.89566C3.41337 6.27426 6.38363 3.32797 10.036 3.32797C11.8048 3.32871 13.467 4.01287 14.7172 5.25417C15.9674 6.49559 16.6554 8.14583 16.6549 9.90099C16.6533 13.5224 13.683 16.4691 10.0335 16.4691H10.0309C8.84256 16.4684 7.67712 16.1518 6.66075 15.5534L6.41888 15.4111L3.91275 16.063L4.58194 13.6394Z" fill="url(%23paint1_linear_2539_1006)"/><path d="M8.04238 6.59172C7.89325 6.26285 7.73632 6.25621 7.5945 6.25044C7.47838 6.24548 7.34563 6.24586 7.213 6.24586C7.08025 6.24586 6.86457 6.29541 6.68225 6.49293C6.49975 6.69063 5.9855 7.1684 5.9855 8.14012C5.9855 9.11184 6.69882 10.051 6.79825 10.1829C6.89782 10.3146 8.17532 12.3725 10.1986 13.1642C11.8801 13.8221 12.2223 13.6913 12.5872 13.6583C12.9522 13.6254 13.7649 13.1806 13.9308 12.7194C14.0967 12.2583 14.0967 11.863 14.0469 11.7804C13.9972 11.6981 13.8644 11.6486 13.6654 11.5499C13.4663 11.4512 12.4876 10.9733 12.3052 10.9074C12.1227 10.8415 11.99 10.8086 11.8573 11.0064C11.7245 11.2039 11.3433 11.6486 11.2271 11.7804C11.1111 11.9124 10.9949 11.9288 10.7959 11.83C10.5967 11.7309 9.95563 11.5226 9.19507 10.8498C8.60332 10.3263 8.20382 9.67978 8.08769 9.48201C7.97157 9.28455 8.07525 9.17752 8.17507 9.0791C8.2645 8.9906 8.37419 8.84846 8.47382 8.73317C8.57307 8.61783 8.60619 8.53553 8.67257 8.40381C8.739 8.27196 8.70575 8.15662 8.65607 8.05782C8.60619 7.95903 8.21938 6.98223 8.04238 6.59172Z" fill="white"/><defs><linearGradient id="paint0_linear_2539_1006" x1="774.568" y1="1541.77" x2="774.568" y2="2.26949" gradientUnits="userSpaceOnUse"><stop stop-color="%231FAF38"/><stop offset="1" stop-color="%2360D669"/></linearGradient><linearGradient id="paint1_linear_2539_1006" x1="802" y1="1596.7" x2="802" y2="1.99339" gradientUnits="userSpaceOnUse"><stop stop-color="%23F9F9F9"/><stop offset="1" stop-color="white"/></linearGradient></defs></svg>');
                }
            }

            .sh-inst {
                color: $clr-black-text;

                &::before {
                    content: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.25 2H5.75C3.67893 2 2 3.67893 2 5.75V14.25C2 16.3211 3.67893 18 5.75 18H14.25C16.3211 18 18 16.3211 18 14.25V5.75C18 3.67893 16.3211 2 14.25 2Z" fill="url(%23paint0_radial_2539_1015)"/><path d="M14.25 2H5.75C3.67893 2 2 3.67893 2 5.75V14.25C2 16.3211 3.67893 18 5.75 18H14.25C16.3211 18 18 16.3211 18 14.25V5.75C18 3.67893 16.3211 2 14.25 2Z" fill="url(%23paint1_radial_2539_1015)"/><path d="M10.0006 3.75C8.30319 3.75 8.09013 3.75744 7.4235 3.78775C6.75813 3.81825 6.30394 3.92356 5.90656 4.07812C5.49544 4.23775 5.14675 4.45131 4.79938 4.79881C4.45169 5.14625 4.23813 5.49494 4.078 5.90587C3.923 6.30338 3.81756 6.75775 3.78762 7.42281C3.75781 8.0895 3.75 8.30263 3.75 10.0001C3.75 11.6975 3.7575 11.9099 3.78775 12.5765C3.81838 13.2419 3.92369 13.6961 4.07812 14.0934C4.23787 14.5046 4.45144 14.8533 4.79894 15.2006C5.14625 15.5483 5.49494 15.7624 5.90575 15.922C6.30344 16.0766 6.75769 16.1819 7.42294 16.2124C8.08962 16.2427 8.3025 16.2501 9.99981 16.2501C11.6974 16.2501 11.9097 16.2427 12.5764 16.2124C13.2417 16.1819 13.6964 16.0766 14.0941 15.922C14.5051 15.7624 14.8532 15.5483 15.2005 15.2006C15.5482 14.8533 15.7617 14.5046 15.9219 14.0936C16.0755 13.6961 16.181 13.2417 16.2122 12.5766C16.2422 11.91 16.25 11.6975 16.25 10.0001C16.25 8.30263 16.2422 8.08962 16.2122 7.42294C16.181 6.75756 16.0755 6.30344 15.9219 5.90606C15.7617 5.49494 15.5482 5.14625 15.2005 4.79881C14.8529 4.45119 14.5052 4.23762 14.0938 4.07819C13.6953 3.92356 13.2409 3.81819 12.5755 3.78775C11.9088 3.75744 11.6966 3.75 9.99862 3.75H10.0006ZM9.43988 4.87631C9.60631 4.87606 9.792 4.87631 10.0006 4.87631C11.6694 4.87631 11.8671 4.88231 12.5261 4.91225C13.1355 4.94012 13.4663 5.04194 13.6866 5.1275C13.9783 5.24075 14.1862 5.37619 14.4048 5.595C14.6236 5.81375 14.7589 6.02206 14.8725 6.31375C14.9581 6.53375 15.06 6.8645 15.0878 7.47388C15.1177 8.13275 15.1242 8.33062 15.1242 9.99862C15.1242 11.6666 15.1177 11.8646 15.0878 12.5234C15.0599 13.1327 14.9581 13.4635 14.8725 13.6836C14.7593 13.9753 14.6236 14.1829 14.4048 14.4016C14.1861 14.6203 13.9784 14.7557 13.6866 14.869C13.4665 14.9549 13.1355 15.0565 12.5261 15.0844C11.8673 15.1143 11.6694 15.1208 10.0006 15.1208C8.33169 15.1208 8.13387 15.1143 7.47506 15.0844C6.86569 15.0563 6.53494 14.9544 6.31444 14.8689C6.02281 14.7556 5.81444 14.6202 5.59569 14.4014C5.37694 14.1827 5.24156 13.9749 5.128 13.6831C5.04244 13.463 4.9405 13.1322 4.91275 12.5229C4.88281 11.864 4.87681 11.6661 4.87681 9.99706C4.87681 8.32806 4.88281 8.13119 4.91275 7.47231C4.94062 6.86294 5.04244 6.53219 5.128 6.31187C5.24131 6.02019 5.37694 5.81188 5.59575 5.59313C5.8145 5.37438 6.02281 5.23894 6.3145 5.12544C6.53481 5.0395 6.86569 4.93794 7.47506 4.90994C8.05162 4.88387 8.27506 4.87606 9.43988 4.87475V4.87631ZM13.3368 5.91406C12.9228 5.91406 12.5868 6.24969 12.5868 6.66381C12.5868 7.07788 12.9228 7.41381 13.3368 7.41381C13.7509 7.41381 14.0868 7.07788 14.0868 6.66381C14.0868 6.24975 13.7509 5.91381 13.3368 5.91381V5.91406ZM10.0006 6.79038C8.22806 6.79038 6.79094 8.2275 6.79094 10.0001C6.79094 11.7726 8.22806 13.2091 10.0006 13.2091C11.7731 13.2091 13.2098 11.7726 13.2098 10.0001C13.2098 8.22756 11.773 6.79038 10.0004 6.79038H10.0006ZM10.0006 7.91669C11.1511 7.91669 12.0839 8.84938 12.0839 10.0001C12.0839 11.1506 11.1511 12.0834 10.0006 12.0834C8.84994 12.0834 7.91725 11.1506 7.91725 10.0001C7.91725 8.84938 8.84994 7.91669 10.0006 7.91669Z" fill="white"/><defs><radialGradient id="paint0_radial_2539_1015" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(6.25 19.2323) rotate(-90) scale(15.8572 14.7484)"><stop stop-color="%23FFDD55"/><stop offset="0.1" stop-color="%23FFDD55"/><stop offset="0.5" stop-color="%23FF543E"/><stop offset="1" stop-color="%23C837AB"/></radialGradient><radialGradient id="paint1_radial_2539_1015" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-0.680062 3.15256) rotate(78.681) scale(7.08825 29.218)"><stop stop-color="%233771C8"/><stop offset="0.128" stop-color="%233771C8"/><stop offset="1" stop-color="%236600FF" stop-opacity="0"/></radialGradient></defs></svg>');
                }
            }
        }

        .main-header {
            .logo {
                img:last-child {
                    filter: invert(0);
                }
            }
            a {
                color: $clr-black-text;
            }
        }

        .sh-btn {
            background-color: $clr-white;
            color: $clr-black-text;

            &:hover {
                color: $clr-black-text;
                background-color: $clr-gray;
            }
        }
    }
}