#main-page_front {
	height: 100svh;
	padding-top: 110px;
	background: $clr-grey;
	position: relative;
	overflow: hidden;
	@media (max-width:600px) {
		padding-top: 100px;
	}
	@media (max-width:380px) {
		padding-top: 80px;
	}
	.container {
		position: relative;
		height: 100%;

		@media (max-width:600px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	h1 {
		width: 12em;
		position: relative;
		z-index: 5;

		@media (max-width:600px) {
			width: 100%;
			text-align: center;
		}
	}

	.mp_front-desc {
		z-index: 5;
		@extend %text_body1;
		color: $clr-main;
		background-color: #ECE8DE;
		padding: .5em;
		border-radius: 3.2em;
		position: relative;
		display: inline-flex;
		align-items: center;

		&::before {
			content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.6488 2.84994L19.2588 6.70994L22.7688 8.49994L20.9988 11.9999L22.7788 15.4999L19.2388 17.2899L18.6287 21.1499L14.7387 20.5399L11.9688 23.2999L9.18875 20.4999L5.32875 21.1399L4.70875 17.2499L1.21875 15.4699L2.99875 11.9699L1.22875 8.49994L4.73875 6.68994L5.34875 2.85994L9.21875 3.49994L11.9987 0.689941L14.7688 3.45994L18.6488 2.84994ZM9.49875 6.99994C9.10092 6.99994 8.71939 7.15798 8.43809 7.43928C8.15679 7.72059 7.99875 8.10212 7.99875 8.49994C7.99875 8.89777 8.15679 9.2793 8.43809 9.5606C8.71939 9.84191 9.10092 9.99994 9.49875 9.99994C9.89657 9.99994 10.2781 9.84191 10.5594 9.5606C10.8407 9.2793 10.9987 8.89777 10.9987 8.49994C10.9987 8.10212 10.8407 7.72059 10.5594 7.43928C10.2781 7.15798 9.89657 6.99994 9.49875 6.99994ZM14.4987 13.9999C14.1009 13.9999 13.7194 14.158 13.4381 14.4393C13.1568 14.7206 12.9987 15.1021 12.9987 15.4999C12.9987 15.8978 13.1568 16.2793 13.4381 16.5606C13.7194 16.8419 14.1009 16.9999 14.4987 16.9999C14.8966 16.9999 15.2781 16.8419 15.5594 16.5606C15.8407 16.2793 15.9987 15.8978 15.9987 15.4999C15.9987 15.1021 15.8407 14.7206 15.5594 14.4393C15.2781 14.158 14.8966 13.9999 14.4987 13.9999ZM8.40875 16.9999L16.9987 8.40994L15.5887 6.99994L6.99875 15.5899L8.40875 16.9999Z" fill="%23413E37"/></svg>');
			width: 24px;
			height: 24px;
			margin-right: 10px;
		}
	}

	.main-btn {
		position: absolute;
		left: calc(var(--bs-gutter-x) * .5);
		bottom: 60px;
		z-index: 5;

		@media (max-width:600px) {
			width: calc(100% - var(--bs-gutter-x));
			text-align: center;
			bottom: 20px;
		}
	}

	img {
		position: absolute;
		bottom: 0;
		right: 0;
		pointer-events: none;

		@media (max-width:1440px) {
			max-width: 800px;
		}

		@media (max-width:1400px) {
			max-width: 1000px;
		}

		@media (max-width:1400px) and (max-height:1000px) {
			max-width: 800px;
		}

		@media (max-width:1400px) and (max-height:800px) {
			max-width: 700px;
		}

		@media (max-width:1000px) {
			max-width: 100%;
		}

		@media (max-width:600px) {
			max-width: calc(100% - 30px);
			bottom: -50px;
		}
	}
}

#main-page_popular {
	position: relative;
	margin-top: 40px;
	@media (max-width:600px) {
		margin-top: 20px;
	}
	.mp_popular-cards {
		display: flex;
		gap: 20px;
		margin-bottom: 20px;
		flex-wrap: wrap;

		.product-card {
			width: calc((100% - 60px) / 4);

			@media (max-width:1200px) {
				width: calc((100% - 40px) / 3);

				&:last-child {
					display: none
				}
			}

			@media (max-width:600px) {
				width: calc((100% - 20px) / 2);

				&:last-child {
					display: block
				}
			}
			@media (max-width:380px) {
				width: 100%;

				&:last-child {
					display: block
				}
			}
		}
	}

	.main-btn {
		@media (max-width:600px) {
			width: 100%;
			text-align: center;
		}
	}
}



#main-page_bricks {
	@extend %matop;

	h2 {
		span:first-of-type {
			color: $clr-main;
		}

		@media (max-width:600px) {
			span {
				display: none;
			}
		}
	}

	.mp_bricks-cont {
		display: flex;
		gap: 12px;
		flex-wrap: wrap;
		@media (max-width:600px) {
			gap: 16px;
		}
		.mp_brick {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			border: 1px solid $clr-greytext2;
			border-radius: 4px;
			height: 200px;
			padding: 20px;
			color: #000;
			@extend %text_body1;

			@media (max-width:600px) {
				width: 100% !important;
				height: auto;
				background-color: #ECE8DE;
				padding: 10px 16px;
				border-radius: 3.2em;
				position: relative;
				display: inline-flex;
				align-items: center;
				border: none;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				gap: 12px;

			}

			.mp_brick-title {
				font-family: $f-yo;
				line-height: 1em;
				font-size: 40px;
				position: relative;
				height: 40px;
				aspect-ratio: 1;
				@media (max-width:600px) {
					height: 24px;
					font-size: 24px;
				}
				&::before {
					display: inline-block;
					height: 40px;
					aspect-ratio: 1;
					@media (max-width:600px) {
						height: 24px;
					}
				}

			}

			.mp_brick-desc {
				position: relative;

				@media (max-width:1400px) {
					max-width: 100%;
				}
			}

			&:nth-child(1) {
				width: calc((100% - 24px) * (552 / 1336));

				.mp_brick-title {
					&::before {
						content: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="2" fill="%233C4137" /><path d="M24 17H27L22 24M18 17H22L20 25M13 17H16L18 24M23 12H25L27 15H24M19 12H21L22 15H18M15 12H17L16 15H13M14 10L10 16L20 30L30 16L26 10H14Z" fill="white" /></svg>');
						@media (max-width:600px) {
							content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 9H19L14 16M10 9H14L12 17M5 9H8L10 16M15 4H17L19 7H16M11 4H13L14 7H10M7 4H9L8 7H5M6 2L2 8L12 22L22 8L18 2H6Z" fill="%233C4137"/></svg>');
						}
					}
				}

				.mp_brick-desc {
					width: 11em;
					@media (max-width:600px) {
						width: 15em;
					}
					&::before {
						content: 'Бесплатно подбираем браслет лично под Вас!';
					}
				}
			}

			&:nth-child(2) {
				width: calc((100% - 24px) * (455 / 1336));

				.mp_brick-title {
					&::before {
						content: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="2" fill="%233B3759" /><g clip-path="url(%23clip0_3443_429)"><path d="M23.043 8.62261C22.2627 10.2437 21.2399 11.4425 20.0855 11.4425C18.936 11.4425 17.8807 10.2577 17.1016 8.64904C17.1188 10.4939 16.6465 12.9092 15.6514 13.5768C14.6563 14.2443 13.3245 13.0142 11.9556 12.0709C12.7738 13.6665 13.9288 15.2349 13.3515 16.3965C12.7792 17.5485 10.5778 18.0821 8.99805 18.0665C10.3733 18.9707 12.6938 20.2135 12.6939 21.544C12.694 22.8745 10.3734 24.0617 8.99805 24.9659C10.5778 24.9503 12.7791 25.5102 13.3516 26.6622C13.9248 27.8158 12.9283 29.3017 11.7696 30.6729C13.8708 29.9505 14.8231 30.4041 15.7715 31.1797H17.2598C15.2563 29.5198 13.8819 26.1253 13.8819 22.2002C13.8818 16.6399 16.6437 12.1265 20.0415 12.1265C23.4394 12.1265 26.2012 16.6401 26.2012 22.2003C26.2012 26.1256 24.8269 29.52 22.8233 31.1798H24.1036C25.0339 30.4945 25.969 29.9775 28.3076 30.7448C27.078 29.3262 26.3295 27.8159 26.9028 26.6622C27.4773 25.506 29.5586 24.946 31.1465 24.9659C29.7684 24.0614 27.6148 22.876 27.6148 21.544C27.6148 20.212 29.7684 18.9711 31.1464 18.0665C29.5586 18.0864 27.4774 17.5527 26.9028 16.3966C26.3256 15.235 27.3707 13.6666 28.189 12.071C26.8201 13.0141 25.4897 14.2453 24.4931 13.5768C23.4964 12.9082 23.0221 10.4769 23.0429 8.62256L23.043 8.62261ZM19.81 13.0171C18.8932 13.1363 18.0596 14.2154 18.0596 15.6143C18.0596 16.3853 18.3254 17.0668 18.7158 17.5377L19.1919 18.1104L18.461 18.2481C17.954 18.3435 17.5824 18.6108 17.2643 19.0479C16.946 19.485 16.7025 20.0953 16.5318 20.7984C16.2231 22.07 16.1531 23.6221 16.1423 24.9923H17.8341L17.8649 25.398L18.2926 31.1432H21.8638L22.2433 25.401L22.2697 24.9922H23.881C23.8798 23.6051 23.8604 22.0313 23.5807 20.7501C23.4262 20.0425 23.1922 19.4331 22.8702 19.001C22.5482 18.569 22.1609 18.3027 21.5915 18.2144L20.8443 18.0987L21.316 17.5084C21.6896 17.0398 21.943 16.3665 21.943 15.6143C21.9429 14.1229 21.0109 13.0215 20.0005 13.0215C19.8814 13.0215 19.8149 13.0167 19.8116 13.0171H19.8102H19.81Z" fill="white" /></g><defs><clipPath id="clip0_3443_429"><rect width="24" height="24" fill="white" transform="translate(8 8)" /></clipPath></defs></svg>');
						@media (max-width:600px) {
							content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3446_782)"><g clip-path="url(%23clip1_3446_782)"><path d="M15.0137 0.346727C14.2334 1.96785 13.2106 3.16659 12.0562 3.16659C10.9067 3.16659 9.85142 1.98182 9.07231 0.373164C9.08947 2.21807 8.61716 4.63335 7.62209 5.3009C6.62703 5.96845 5.29522 4.73831 3.92628 3.79499C4.74448 5.39062 5.89948 6.95905 5.32222 8.12062C4.74987 9.27262 2.54853 9.80624 0.96875 9.79059C2.34397 10.6948 4.66447 11.9376 4.66456 13.2682C4.66466 14.5987 2.34406 15.7858 0.96875 16.69C2.54853 16.6744 4.74983 17.2343 5.32231 18.3863C5.89545 19.5399 4.89903 21.0258 3.74028 22.3971C5.8415 21.6746 6.79381 22.1282 7.74219 22.9039H9.23047C7.22703 21.2439 5.85256 17.8494 5.85256 13.9244C5.85247 8.36404 8.61444 3.85063 12.0122 3.85063C15.4101 3.85063 18.1719 8.36423 18.1719 13.9244C18.1719 17.8497 16.7976 21.2441 14.794 22.9039H16.0743C17.0046 22.2186 17.9397 21.7016 20.2783 22.4689C19.0487 21.0503 18.3002 19.54 18.8735 18.3863C19.448 17.2302 21.5293 16.6702 23.1172 16.69C21.7391 15.7855 19.5855 14.6002 19.5855 13.2682C19.5855 11.9362 21.7391 10.6952 23.1171 9.79063C21.5293 9.81051 19.4481 9.27679 18.8735 8.12071C18.2963 6.95915 19.3415 5.39071 20.1597 3.79509C18.7908 4.73821 17.4605 5.96938 16.4638 5.3009C15.4671 4.63232 14.9928 2.20105 15.0136 0.34668L15.0137 0.346727ZM11.7808 4.74126C10.8639 4.86046 10.0303 5.93957 10.0303 7.33846C10.0303 8.10941 10.2961 8.79093 10.6865 9.26184L11.1626 9.83455L10.4317 9.97223C9.92474 10.0676 9.55311 10.3349 9.23497 10.7721C8.91669 11.2092 8.67322 11.8194 8.5025 12.5225C8.19383 13.7941 8.12384 15.3463 8.11297 16.7164H9.80483L9.83558 17.1222L10.2633 22.8673H13.8345L14.214 17.1251L14.2404 16.7164H15.8517C15.8505 15.3292 15.8311 13.7555 15.5514 12.4742C15.3969 11.7666 15.1629 11.1572 14.8409 10.7251C14.5189 10.2931 14.1316 10.0268 13.5622 9.93857L12.815 9.82279L13.2867 9.23249C13.6603 8.76393 13.9137 8.09062 13.9137 7.33846C13.9136 5.84704 12.9816 4.74566 11.9712 4.74566C11.8521 4.74566 11.7856 4.74084 11.7823 4.74126H11.7809H11.7808Z" fill="%233B3759"/></g></g><defs><clipPath id="clip0_3446_782"><rect width="24" height="24" fill="white"/></clipPath><clipPath id="clip1_3446_782"><rect width="24" height="24" fill="white" transform="translate(-0.0292969 -0.275391)"/></clipPath></defs></svg>');
						}
					}
				}

				.mp_brick-desc {
					width: 15em;
					@media (max-width:600px) {
						width: 12em;
					}
					&::before {
						content: 'Используем только натуральные камни, которые положительно влияют на Вашу энергетику!';
						@media (max-width:600px) {
							content: 'Используем только натуральные камни';
						}
					}
				}
			}

			&:nth-child(3) {
				width: calc((100% - 24px) * (329 / 1336));

				.mp_brick-title {
					&::before {
						content: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="2" fill="%23665E40" /><path d="M28.318 11.982L20.3539 9.26797C20.2578 9.23516 20.1289 9.21875 20 9.21875C19.8711 9.21875 19.7422 9.23516 19.6461 9.26797L11.682 11.982C11.4875 12.0477 11.3281 12.2727 11.3281 12.4789V23.7852C11.3281 23.9914 11.4617 24.2633 11.6234 24.3922L19.7023 30.6875C19.7844 30.7508 19.8898 30.7836 19.9977 30.7836C20.1055 30.7836 20.2133 30.7508 20.293 30.6875L28.3719 24.3922C28.5336 24.2656 28.6672 23.9937 28.6672 23.7852V12.4789C28.6719 12.2727 28.5125 12.05 28.318 11.982ZM24.2773 15.9852L19.2945 22.8453C19.2595 22.8933 19.2137 22.9323 19.1607 22.9591C19.1078 22.986 19.0492 23 18.9898 23C18.9305 23 18.8719 22.986 18.819 22.9591C18.766 22.9323 18.7202 22.8933 18.6852 22.8453L15.7227 18.7672C15.6336 18.643 15.7227 18.4695 15.875 18.4695H17.1688C17.2883 18.4695 17.4031 18.5281 17.4734 18.6242L18.9898 20.7102L22.5266 15.8398C22.5969 15.7437 22.7094 15.6852 22.8312 15.6852H24.125C24.2773 15.6875 24.3664 15.8609 24.2773 15.9852Z" fill="white" /></svg>');
						@media (max-width:600px) {
							content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_3446_786)"><path d="M3 4.08691C2.46957 4.08691 1.96086 4.29763 1.58579 4.6727C1.21071 5.04777 1 5.55648 1 6.08691V17.0869H3C3 17.8826 3.31607 18.6456 3.87868 19.2082C4.44129 19.7708 5.20435 20.0869 6 20.0869C6.79565 20.0869 7.55871 19.7708 8.12132 19.2082C8.68393 18.6456 9 17.8826 9 17.0869H15C15 17.8826 15.3161 18.6456 15.8787 19.2082C16.4413 19.7708 17.2044 20.0869 18 20.0869C18.7956 20.0869 19.5587 19.7708 20.1213 19.2082C20.6839 18.6456 21 17.8826 21 17.0869H23V12.0869L20 8.08691H17V4.08691M10 6.08691L14 10.0869L10 14.0869V11.0869H4V9.08691H10M17 9.58691H19.5L21.47 12.0869H17M6 15.5869C6.39782 15.5869 6.77936 15.7449 7.06066 16.0263C7.34196 16.3076 7.5 16.6891 7.5 17.0869C7.5 17.4847 7.34196 17.8663 7.06066 18.1476C6.77936 18.4289 6.39782 18.5869 6 18.5869C5.60218 18.5869 5.22064 18.4289 4.93934 18.1476C4.65804 17.8663 4.5 17.4847 4.5 17.0869C4.5 16.6891 4.65804 16.3076 4.93934 16.0263C5.22064 15.7449 5.60218 15.5869 6 15.5869ZM18 15.5869C18.3978 15.5869 18.7794 15.7449 19.0607 16.0263C19.342 16.3076 19.5 16.6891 19.5 17.0869C19.5 17.4847 19.342 17.8663 19.0607 18.1476C18.7794 18.4289 18.3978 18.5869 18 18.5869C17.6022 18.5869 17.2206 18.4289 16.9393 18.1476C16.658 17.8663 16.5 17.4847 16.5 17.0869C16.5 16.6891 16.658 16.3076 16.9393 16.0263C17.2206 15.7449 17.6022 15.5869 18 15.5869Z" fill="%23533356"/></g><defs><clipPath id="clip0_3446_786"><rect width="24" height="24" fill="white"/></clipPath></defs></svg>');
						}
					}
				}

				.mp_brick-desc {
					width: 11em;
					&::before {
						content: 'Гарантия ';
						@media (max-width:600px) {
							content: 'Быстрая и безопасная доставка по всей России!';
						}
					}
				}
			}

			&:nth-child(4) {
				width: calc((100% - 24px) * (417 / 1336));

				.mp_brick-title {
					&::before {
						content: url('data:image/svg+xml,<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="40" height="40" rx="2" fill="%23533356" /><path d="M11 12C10.4696 12 9.96086 12.2107 9.58579 12.5858C9.21071 12.9609 9 13.4696 9 14V25H11C11 25.7956 11.3161 26.5587 11.8787 27.1213C12.4413 27.6839 13.2044 28 14 28C14.7956 28 15.5587 27.6839 16.1213 27.1213C16.6839 26.5587 17 25.7956 17 25H23C23 25.7956 23.3161 26.5587 23.8787 27.1213C24.4413 27.6839 25.2044 28 26 28C26.7956 28 27.5587 27.6839 28.1213 27.1213C28.6839 26.5587 29 25.7956 29 25H31V20L28 16H25V12M18 14L22 18L18 22V19H12V17H18M25 17.5H27.5L29.47 20H25M14 23.5C14.3978 23.5 14.7794 23.658 15.0607 23.9393C15.342 24.2206 15.5 24.6022 15.5 25C15.5 25.3978 15.342 25.7794 15.0607 26.0607C14.7794 26.342 14.3978 26.5 14 26.5C13.6022 26.5 13.2206 26.342 12.9393 26.0607C12.658 25.7794 12.5 25.3978 12.5 25C12.5 24.6022 12.658 24.2206 12.9393 23.9393C13.2206 23.658 13.6022 23.5 14 23.5ZM26 23.5C26.3978 23.5 26.7794 23.658 27.0607 23.9393C27.342 24.2206 27.5 24.6022 27.5 25C27.5 25.3978 27.342 25.7794 27.0607 26.0607C26.7794 26.342 26.3978 26.5 26 26.5C25.6022 26.5 25.2206 26.342 24.9393 26.0607C24.658 25.7794 24.5 25.3978 24.5 25C24.5 24.6022 24.658 24.2206 24.9393 23.9393C25.2206 23.658 25.6022 23.5 26 23.5Z" fill="white" /></svg>');
						@media (max-width:600px) {
							content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.318 3.98203L12.3539 1.26797C12.2578 1.23516 12.1289 1.21875 12 1.21875C11.8711 1.21875 11.7422 1.23516 11.6461 1.26797L3.68203 3.98203C3.4875 4.04766 3.32812 4.27266 3.32812 4.47891V15.7852C3.32812 15.9914 3.46172 16.2633 3.62344 16.3922L11.7023 22.6875C11.7844 22.7508 11.8898 22.7836 11.9977 22.7836C12.1055 22.7836 12.2133 22.7508 12.293 22.6875L20.3719 16.3922C20.5336 16.2656 20.6672 15.9937 20.6672 15.7852V4.47891C20.6719 4.27266 20.5125 4.05 20.318 3.98203ZM16.2773 7.98516L11.2945 14.8453C11.2595 14.8933 11.2137 14.9323 11.1607 14.9591C11.1078 14.986 11.0492 15 10.9898 15C10.9305 15 10.8719 14.986 10.819 14.9591C10.766 14.9323 10.7202 14.8933 10.6852 14.8453L7.72266 10.7672C7.63359 10.643 7.72266 10.4695 7.875 10.4695H9.16875C9.28828 10.4695 9.40313 10.5281 9.47344 10.6242L10.9898 12.7102L14.5266 7.83984C14.5969 7.74375 14.7094 7.68516 14.8312 7.68516H16.125C16.2773 7.6875 16.3664 7.86094 16.2773 7.98516Z" fill="%23665E40"/></svg>');
						}
					}
				}

				.mp_brick-desc {
					width: 17em;
					@media (max-width:600px) {
						display: flex;
						flex-direction: column;
					}
					&::before {
						content: 'Быстрая, безопасная и бесконтактная доставка по всей России!';
						@media (max-width:600px) {
							content: '‌ Гарантия ';
						}
					}
					&::after {
						@media (max-width:600px) {
							content: 'на время доставки!';
						}
					}
				}
			}

			&:nth-child(5) {
				width: calc((100% - 24px) * (556 / 1336));

				.mp_brick-desc {
					width: 5em;
					&::before {
						content: 'разновидностей камней';
					}
				}

				.mp_brick-title {
					color: #5F4242;
				}
			}

			&:nth-child(6) {
				width: calc((100% - 24px) * (363 / 1336));

				.mp_brick-desc {
					width: 15em;
					&::before {
						content: 'положительных эффектов, которые в лучшую сторону изменят Вашу жизнь!';
						@media (max-width:600px) {
							content: 'положительных эффектов, которые изменят Вашу жизнь!'
						}
					}
				}

				.mp_brick-title {
					color: #46625C;
				}
			}
		}
	}

	.mp_bricks-btns {
		margin-top: 40px;
		display: flex;
		gap: 12px;
		@media (max-width:600px) {
			flex-wrap: wrap;
			margin-top: 16px;
			a {
				width: 100%;
				text-align: center
			}
		}
	}
}

#main-page_categories {
	@extend %matop;

	.mp_categories-cont {
		display: flex;
		gap: 12px;
		flex-wrap: wrap;

		.mp_category {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			gap: 4px;
			border-radius: 4px;
			height: 365px;
			padding: 30px;
			color: #fff;
			@extend %text_body1;
			width: calc(50% - 6px);
			overflow: hidden;
			@media (max-width:600px) {
				width: calc(100%);
				height: auto;
				min-height: 150px;
				justify-content: flex-start;
				padding: 24px 16px;
			}
			.mp_category-title {
				font-family: $f-yo;
				line-height: 1.1em;
				font-size: 44px;
				z-index: 5;
				@media (max-width:600px) {
					font-size: 32px;
				}
			}

			.mp_category-desc {
				opacity: .5;
				z-index: 5;
			}

			&:nth-child(1) {
				background-color: #3c4137;
			}

			&:nth-child(2) {
				background-color: #403741;
			}

			&:nth-child(3) {
				background-color: #37413f;
			}

			&:nth-child(4) {
				background-color: #413737;

				.mp_category-title {
					width: 5em;
					@media (max-width:600px) {
						width: 7em;
						max-width: 100%;
					}
				}

				.mp_category-desc {
					width: 8em;
				}
			}

			img {
				position: absolute;
				top: 0;
				right: 0;
				width: 45%;
				height: auto;
				aspect-ratio: 306/330;
			}
		}
	}
}

#main-page_contacts {
	@extend %matop;
	margin-bottom: 40px;
	@media (max-width:600px) {
		margin-bottom: 20px;
	}
	.mp_contacts-cont {
		height: 510px;
		width: 100%;
		border-radius: 4px;
		background-image: url(../img/contacts-bg.png);
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		background-size: cover;
		background-position: center;
		@media (max-width:600px) {
			padding: 16px;
			background-image: url(../img/contacts-bg-mobile.png);
		}
		h2 {
			margin-bottom: 20px;
		}

		.main-btn {
			justify-self: flex-end;
			@media (max-width:600px) {
				width: 100%;
				text-align: center;
			}
		}

		.mp_contacts-cont-line {
			margin-bottom: 12px;
			display: flex;
			align-items: center;
			gap: 12px;
			@media (max-width:600px) {
				flex-direction: column;
				align-items: flex-start;
			}
			.mp_contacts-desc {
				@extend %text_body1;
				color: $clr-main;
				background-color: #ECE8DE;
				padding: .6em;
				border-radius: 3.2em;
				position: relative;
				display: inline-flex;
				align-items: center;

				&::before {
					content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.6488 2.84994L19.2588 6.70994L22.7688 8.49994L20.9988 11.9999L22.7788 15.4999L19.2388 17.2899L18.6287 21.1499L14.7387 20.5399L11.9688 23.2999L9.18875 20.4999L5.32875 21.1399L4.70875 17.2499L1.21875 15.4699L2.99875 11.9699L1.22875 8.49994L4.73875 6.68994L5.34875 2.85994L9.21875 3.49994L11.9987 0.689941L14.7688 3.45994L18.6488 2.84994ZM9.49875 6.99994C9.10092 6.99994 8.71939 7.15798 8.43809 7.43928C8.15679 7.72059 7.99875 8.10212 7.99875 8.49994C7.99875 8.89777 8.15679 9.2793 8.43809 9.5606C8.71939 9.84191 9.10092 9.99994 9.49875 9.99994C9.89657 9.99994 10.2781 9.84191 10.5594 9.5606C10.8407 9.2793 10.9987 8.89777 10.9987 8.49994C10.9987 8.10212 10.8407 7.72059 10.5594 7.43928C10.2781 7.15798 9.89657 6.99994 9.49875 6.99994ZM14.4987 13.9999C14.1009 13.9999 13.7194 14.158 13.4381 14.4393C13.1568 14.7206 12.9987 15.1021 12.9987 15.4999C12.9987 15.8978 13.1568 16.2793 13.4381 16.5606C13.7194 16.8419 14.1009 16.9999 14.4987 16.9999C14.8966 16.9999 15.2781 16.8419 15.5594 16.5606C15.8407 16.2793 15.9987 15.8978 15.9987 15.4999C15.9987 15.1021 15.8407 14.7206 15.5594 14.4393C15.2781 14.158 14.8966 13.9999 14.4987 13.9999ZM8.40875 16.9999L16.9987 8.40994L15.5887 6.99994L6.99875 15.5899L8.40875 16.9999Z" fill="%23413E37"/></svg>');
					width: 24px;
					height: 24px;
					margin-right: 6px;
				}
			}

			&:first-of-type {
				.mp_contacts-desc {
					&:first-child {
						&::before {
							content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z" fill="%23413E37"/></svg>');
						}
					}

					&:last-child {
						color: #37413A;
						background-color: #DEECE4;

						&::before {
							content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.9247 6.35997C17.7897 1.49997 11.3697 0.0599657 6.40468 3.07497C1.55968 6.08997 -0.000315666 12.66 3.13468 17.505L3.38968 17.895L2.33968 21.825L6.26968 20.775L6.65968 21.03C8.35468 21.945 10.1997 22.47 12.0297 22.47C13.9947 22.47 15.9597 21.945 17.6547 20.895C22.4997 17.745 23.9397 11.31 20.9247 6.32997V6.35997ZM18.1797 16.47C17.6547 17.25 16.9947 17.775 16.0797 17.91C15.5547 17.91 14.8947 18.165 12.2847 17.13C10.0647 16.08 8.21968 14.37 6.91468 12.405C6.13468 11.49 5.72968 10.305 5.60968 9.11997C5.60968 8.06997 5.99968 7.15497 6.65968 6.49497C6.91468 6.23997 7.18468 6.10497 7.43968 6.10497H8.09968C8.35468 6.10497 8.62468 6.10497 8.75968 6.62997C9.01468 7.28997 9.67468 8.86497 9.67468 8.99997C9.80968 9.13497 9.74968 10.14 9.14968 10.71C8.81968 11.085 8.75968 11.1 8.89468 11.37C9.41968 12.15 10.0797 12.945 10.7247 13.605C11.5047 14.265 12.2997 14.79 13.2147 15.18C13.4697 15.315 13.7397 15.315 13.8747 15.045C14.0097 14.79 14.6547 14.13 14.9247 13.86C15.1797 13.605 15.3147 13.605 15.5847 13.725L17.6847 14.775C17.9397 14.91 18.2097 15.03 18.3447 15.165C18.4797 15.555 18.4797 16.08 18.2097 16.47H18.1797Z" fill="%232B4E33"/></svg>');
						}
					}
				}
			}

			&:last-of-type {
				.mp_contacts-desc {
					&:first-child {
						&::before {
							content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 20V4H22V20H2ZM12 13L20 8V6L12 11L4 6V8L12 13Z" fill="%23413E37"/></svg>');
						}
					}

					&:last-child {
						color: #373E41;
						background-color: #DEE7EC;

						&::before {
							content: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM16.64 8.8C16.49 10.38 15.84 14.22 15.51 15.99C15.37 16.74 15.09 16.99 14.83 17.02C14.25 17.07 13.81 16.64 13.25 16.27C12.37 15.69 11.87 15.33 11.02 14.77C10.03 14.12 10.67 13.76 11.24 13.18C11.39 13.03 13.95 10.7 14 10.49C14.0069 10.4582 14.006 10.4252 13.9973 10.3938C13.9886 10.3624 13.9724 10.3337 13.95 10.31C13.89 10.26 13.81 10.28 13.74 10.29C13.65 10.31 12.25 11.24 9.52 13.08C9.12 13.35 8.76 13.49 8.44 13.48C8.08 13.47 7.4 13.28 6.89 13.11C6.26 12.91 5.77 12.8 5.81 12.45C5.83 12.27 6.08 12.09 6.55 11.9C9.47 10.63 11.41 9.79 12.38 9.39C15.16 8.23 15.73 8.03 16.11 8.03C16.19 8.03 16.38 8.05 16.5 8.15C16.6 8.23 16.63 8.34 16.64 8.42C16.63 8.48 16.65 8.66 16.64 8.8Z" fill="%231A2640"/></svg>');
						}
					}
				}
			}
		}

	}
}