@import "reset.scss";
@import "fonts.scss";

// * {
// 	outline: 1px lime solid !important;
// }

// @mixin font($fs, $fos, $wdth, $grad, $fw, $lh) {
// 	font-family: RobotoFlex, sans-serif;
// 	font-size: $fs;
// 	font-variation-settings: 'wght'$fw, 'GRAD'$grad, 'wdth'$wdth, 'opsz'$fos;
// 	line-height: $lh;
// }

// %text-data {
// 	@include font(300px, 300, 140, 150, 700, 120%)
// }

:root {
	--minheight: 500px;
}

$clr-main: #413E37;
$clr-accent-35: rgba($color: #181a48, $alpha: 0.35);

$columngap: 40px;

$column: calc((100% - $columngap * 11) / 12);

$f-sb: Primary-Semibold;
$f-r: Primary-Regular;
$f-m: Primary-Medium;
$f-b: Primary-Bold;
$f-b: Primary-ExtraBold;
$f-b: Primary-ExtraLight;
$f-b: Primary-Light;
$f-vl: YesevaOne-Regular;

%title_200 {
	font-family: $f-m;
	font-size: 64px;
	line-height: 1em;
	letter-spacing: -0.07em;

	@media (max-width: 800px) {
		font-size: 32px;
	}
}

%matop {
	margin-top: 120px;
}

%transition_default {
	transition: all 0.3s ease-in-out;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	@extend %transition_default;
	text-decoration: none !important;
	color: $clr-main;
}

button,
button:hover,
button:active,
button:visited,
button:focus {
	@extend %transition_default;
	text-decoration: none !important;
	outline: none !important;
}

@media (min-width: 1440px) {
	.container {
		max-width: 1384px;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100svh;
}

@import "header.scss";
@import "footer.scss";

.main-btn {
	@extend %transition_default;
	padding: 1.1em 1em;
	border-radius: 1em;
	line-height: 1em;
	position: relative;
	display: inline-block;

	&:hover {
	}

	&.sh-btn {
		padding: 0.5em 0.7em;
		border-radius: 0.5em;
		background-color: rgba($color: #fff, $alpha: 0.08);

		&:hover {
		}
	}
}

.main-title {
	margin-bottom: 0.5em;
}


main {
	flex: 1 1 auto;
}
