@import "reset.scss";
@import "fonts.scss";

// * {
// 	outline: 1px lime solid !important;
// }

// @mixin font($fs, $fos, $wdth, $grad, $fw, $lh) {
// 	font-family: RobotoFlex, sans-serif;
// 	font-size: $fs;
// 	font-variation-settings: 'wght'$fw, 'GRAD'$grad, 'wdth'$wdth, 'opsz'$fos;
// 	line-height: $lh;
// }

// %text-data {
// 	@include font(300px, 300, 140, 150, 700, 120%)
// }

:root {
	--minheight: 500px;
}

$clr-main: #413E37;
$clr-mainlight: #5E594F;
$clr-grey: #F6F3EC;
$clr-greytext: rgba($color: #413E37, $alpha: 0.4);
$clr-greytext2: rgba($color: #413E37, $alpha: 0.2);
$clr-darkgrey: #E1DBCC;
$clr-black: #242424;
$clr-green: #488A1D;
$clr-red: #FF3300;
$clr-dis: #C0C0C0;

$columngap: 40px;

$column: calc((100% - $columngap * 11) / 12);

$f-sb: Primary-Semibold;
$f-r: Primary-Regular;
$f-m: Primary-Medium;
$f-b: Primary-Bold;
$f-eb: Primary-ExtraBold;
$f-el: Primary-ExtraLight;
$f-l: Primary-Light;
$f-yo: YesevaOne-Regular;

%text_h1 {
	font-family: $f-yo;
	font-size: 64px;
	line-height: 1.1em;
	letter-spacing: -0.06em;

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_h2 {
	font-family: $f-yo;
	font-size: 52px;
	line-height: 1.1em;
	letter-spacing: -0.06em;

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_des {
	font-family: $f-m;
	font-size: 13px;
	line-height: 1.1em;
	letter-spacing: -0.06em;

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_body1 {
	font-family: $f-m;
	font-size: 20px;
	line-height: 1.1em;
	letter-spacing: -0.06em;

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_body2 {
	font-family: $f-m;
	font-size: 18px;
	line-height: normal;
	letter-spacing: -0.06em;

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_body3 {
	font-family: $f-m;
	font-size: 16px;
	line-height: normal;
	letter-spacing: -0.06em;

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%matop {
	margin-top: 80px;
}

%transition_default {
	transition: all 0.3s ease-in-out;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	@extend %transition_default;
	text-decoration: none !important;
	outline: none !important;
	color: $clr-main;
}

button,
button:hover,
button:active,
button:visited,
button:focus {
	@extend %transition_default;
	text-decoration: none !important;
	outline: none !important;
}

@media (min-width: 1440px) {
	.container {
		max-width: 1384px;
	}
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	letter-spacing: -.06em;
	color: $clr-main;
	@extend %text_body1;
}


.main-btn {
	cursor: pointer;
	@extend %text_body2;
	color: #fff !important;
	background-color: $clr-main;
	@extend %transition_default;
	padding: .85em .9em;
	border-radius: .2em;
	line-height: 1em;
	position: relative;
	display: inline-block;

	&:hover {
		background-color: $clr-mainlight;
	}

	&.outline-btn {
		@extend %text_body2;
		color: $clr-main !important;
		background-color: transparent;
		border: 1px solid $clr-greytext2;
		line-height: 1em;

		&:hover {
			border: 1px solid $clr-mainlight;
		}

		&.active {
			border: 1px solid $clr-mainlight;
		}
	}
}

.main-title {
	margin-bottom: 0.5em;
}


main {
	flex: 1 1 auto;
}

.logo-text {
	font-family: $f-yo;
	font-size: 36px;
	color: $clr-main;
	line-height: 1em;
	letter-spacing: -.06em;
}

h1 {
	@extend %text_h1;
	color: $clr-main;
	margin-bottom: 25px;
}

h2 {
	@extend %text_h2;
	color: $clr-main;
	margin-bottom: 25px;

	span {
		color: rgba($color: #413E37, $alpha: 0.5);
	}
}

.price-list {
	display: flex;
	align-items: center;
	gap: 7px;

	.product-price {
		color: $clr-green;
		font-family: $f-b;
		font-size: 24px;
		line-height: 1.1em;
	}

	.product-old-price {
		color: $clr-black;
		@extend %text_body3;
		text-decoration: line-through;
		opacity: .3;
	}

	.product-discount {
		color: #fff;
		@extend %text_des;
		padding: 2px 4px;
		background-color: $clr-black;
		border-radius: 2px;
	}
}

@import "header.scss";
@import "footer.scss";
@import "card.scss";
@import "breadcrumbs.scss";
@import "main.scss";
@import "catalog.scss";
@import "product.scss";
@import "cart.scss";