@import "reset.scss";
@import "fonts.scss";

// * {
// 	outline: 1px lime solid !important;
// }

// @mixin font($fs, $fos, $wdth, $grad, $fw, $lh) {
// 	font-family: RobotoFlex, sans-serif;
// 	font-size: $fs;
// 	font-variation-settings: 'wght'$fw, 'GRAD'$grad, 'wdth'$wdth, 'opsz'$fos;
// 	line-height: $lh;
// }

// %text-data {
// 	@include font(300px, 300, 140, 150, 700, 120%)
// }

:root {
	--minheight: 500px;
}

$clr-main: #413E37;
$clr-mainlight: #5E594F;
$clr-grey: #F6F3EC;
$clr-greytext: rgba($color: #413E37, $alpha: 0.4);
$clr-greytext2: rgba($color: #413E37, $alpha: 0.2);
$clr-darkgrey: #E1DBCC;
$clr-black: #242424;
$clr-green: #488A1D;
$clr-red: #FF3300;
$clr-dis: #C0C0C0;

$columngap: 40px;

$column: calc((100% - $columngap * 11) / 12);

$f-sb: Primary-Semibold;
$f-r: Primary-Regular;
$f-m: Primary-Medium;
$f-b: Primary-Bold;
$f-eb: Primary-ExtraBold;
$f-el: Primary-ExtraLight;
$f-l: Primary-Light;
$f-yo: YesevaOne-Regular;

%text_h1 {
	font-family: $f-yo;
	font-size: 64px;
	line-height: 1.1em;
	letter-spacing: -0.06em;

	@media (max-width: 1200px) {
		font-size: 52px;
	}

	@media (max-width: 1000px) {
		font-size: 44px;
	}

	@media (max-width: 600px) {
		font-size: 40px;
	}

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_h2 {
	font-family: $f-yo;
	font-size: 52px;
	line-height: 1.1em;
	letter-spacing: -0.06em;

	@media (max-width: 1200px) {
		font-size: 44px;
	}

	@media (max-width: 1000px) {
		font-size: 36px;
	}

	@media (max-width: 600px) {
		font-size: 32px;
	}

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_des {
	font-family: $f-m;
	font-size: 13px;
	line-height: 1.1em;
	letter-spacing: -0.06em;

	@media (max-width: 1000px) {
		font-size: 12px;
	}

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_body1 {
	font-family: $f-m;
	font-size: 20px;
	line-height: 1.1em;
	letter-spacing: -0.06em;

	@media (max-width: 1200px) {
		font-size: 18px;
	}

	@media (max-width: 600px) {
		font-size: 16px;
	}

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_body2 {
	font-family: $f-m;
	font-size: 18px;
	line-height: normal;
	letter-spacing: -0.06em;

	@media (max-width: 1200px) {
		font-size: 16px;
	}

	@media (max-width: 600px) {
		font-size: 14px;
	}

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%text_body3 {
	font-family: $f-m;
	font-size: 16px;
	line-height: normal;
	letter-spacing: -0.06em;

	@media (max-width: 1200px) {
		font-size: 14px;
	}

	@media (max-width: 600px) {
		font-size: 13px;
	}

	// @media (max-width: 800px) {
	// 	font-size: 32px;
	// }
}

%matop {
	margin-top: 80px;

	@media (max-width: 1200px) {
		margin-top: 50px;
	}

	@media (max-width: 600px) {
		margin-top: 20px;
	}
}

%transition_default {
	transition: all 0.3s ease-in-out;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
	@extend %transition_default;
	text-decoration: none !important;
	outline: none !important;
	color: $clr-main;
}

button,
button:hover,
button:active,
button:visited,
button:focus {
	@extend %transition_default;
	text-decoration: none !important;
	outline: none !important;
}

@media (min-width: 1440px) {
	.container {
		max-width: 1384px;
	}
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 100px;
}

body {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	width: 100%;
	letter-spacing: -.06em;
	color: $clr-main;
	@extend %text_body1;

	&.lock {
		overflow: hidden !important;
	}
}


.main-btn {
	cursor: pointer;
	@extend %text_body2;
	color: #fff !important;
	background-color: $clr-main;
	@extend %transition_default;
	padding: 16px;
	border-radius: .2em;
	line-height: 1.4em;
	position: relative;
	display: inline-block;

	&:hover {
		background-color: $clr-mainlight;
	}

	&.outline-btn {
		@extend %text_body2;
		color: $clr-main !important;
		background-color: transparent;
		border: 1px solid $clr-greytext2;
		line-height: 1em;

		&:hover {
			border: 1px solid $clr-mainlight;
		}

		&.active {
			border: 1px solid $clr-mainlight;
		}
	}
}

.main-title {
	margin-bottom: 0.5em;
}


main {
	flex: 1 1 auto;
}

.logo-text {
	font-family: $f-yo;
	font-size: 36px;
	color: $clr-main;
	line-height: 1em;
	letter-spacing: -.06em;

	@media (max-width: 1200px) {
		font-size: 30px;
	}

	@media (max-width: 600px) {
		font-size: 24px;
	}
}

h1 {
	@extend %text_h1;
	color: $clr-main;
	margin-bottom: 25px;

	@media (max-width: 600px) {
		margin-bottom: 18px;
	}
}

h2 {
	@extend %text_h2;
	color: $clr-main;
	margin-bottom: 25px;

	@media (max-width: 600px) {
		margin-bottom: 14px;
	}

	span {
		color: rgba($color: #413E37, $alpha: 0.5);
	}
}

.price-list {
	display: flex;
	align-items: center;
	gap: 7px;

	.product-price {
		color: $clr-black;
		font-family: $f-b;
		font-size: 24px;
		line-height: 1.1em;

		@media (max-width: 600px) {
			font-size: 18px;
		}
	}

	&:has(.product-old-price) .product-price {

		color: $clr-green;
	}

	.product-old-price {
		color: $clr-black;
		@extend %text_body3;
		text-decoration: line-through;
		opacity: .3;
	}

	.product-discount {
		color: #fff;
		@extend %text_des;
		padding: 2px 4px;
		background-color: $clr-black;
		border-radius: 2px;
	}
}

.default-modal {
	.container {
		border-radius: 8px;
		background-color: #fff;
		padding: 40px;
		width: 100%;
		position: relative;
		@media (max-width: 600px) {
			padding: 24px 12px;
		}
		.switchmodal {
			margin-bottom: 20px;
			padding-bottom: 20px;
			display: flex;
			border-bottom: 1px solid $clr-greytext2;

			#userEmail {
				margin-left: 3px;
			}

			button {
				color: $clr-greytext !important;

			}
		}

		form {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
			@media (max-width: 600px) {
				gap: 12px;
			}
			button {
				width: 100%;
				line-height: 1.4em;
			}

			.default-form-field {
				position: relative;
				width: 100%;

				label {
					width: 100%;
					@extend %text_body2;
					color: $clr-main;
					margin-bottom: 8px
				}

				input {
					width: 100%;
					border-radius: 4px;
					@extend %text_body2;
					color: $clr-main;
					padding: .85em .9em;
					line-height: 1em;
					border: 1px solid $clr-greytext2;
				}
			}
		}

		.btn-close {
			position: absolute;
			right: 40px;
			top: 40px;
			outline: none !important;
			color: $clr-main !important;
			border: none !important;
			box-shadow: none !important;
			@media (max-width: 600px) {
				right: 12px;
				top: 24px;
			}
		}
	}

	&#TimeoutForm {
		.container {
			border-radius: 8px;
			background-color: $clr-main;
			padding: 40px;
			width: 100%;
			position: relative;
			color: #fff;
			@media (max-width: 600px) {
				padding: 24px 12px;
			}
			h2 {
				color: #fff;
				margin-bottom: 20px;
				padding-bottom: 20px;
				width: calc(100% - 24px);
				border-bottom: 1px solid rgba($color: #fff, $alpha: .1);
				@media (max-width: 600px) {
					font-size: 28px;
				}
			}

			form {

				.default-form-field {

					label {
						color: #fff;
					}

					input {
						background-color: transparent;
						color: #fff;
						border: 1px solid rgba($color: #fff, $alpha: .2);
					}
				}

				button {
					color: $clr-main !important;
					background-color: #fff;
				}

				input[type="date"]::-webkit-calendar-picker-indicator {
					filter: invert(100%);
				}
			}

			.btn-close {
				filter: invert(100%);
			}
		}
	}

	&#CheckForm {
		.timeout-code-btn {
			display: flex;
			gap: 5px;
			color: $clr-greytext;
			@extend %text_body1;
			text-align: center;
			justify-content: center;
		}

		#timer-btn {
			pointer-events: none;
		}

		#timer-success-btn {
			display: none;
		}

		.form {
			display: block;
		}

		.form__group {
			margin: 10px 0 0;
		}

		.form__group--error.form__pincode>input {
			background-color: #eb3b3b;
		}

		.form__group--error.form__pincode>input[disabled] {
			background-color: #eb3b3b;
			color: #fff;
			opacity: 1;
		}

		.form__group--success.form__pincode>input {
			background-color: #32c832;
		}

		.form__group--success.form__pincode>input[disabled] {
			background-color: #32c832;
			color: #fff;
			opacity: 1;
		}

		.form__pincode {
			display: block;
			width: 100%;
			margin: 10px auto 20px;
			padding: 0;
		}

		.form__pincode:before,
		.form__pincode:after {
			display: table;
			content: '';
		}

		.form__pincode:after {
			clear: both;
		}

		.form__pincode>label {
			display: block;
			text-align: center;
			margin: 10px 0;
		}

		.form__pincode>input[type="number"] {
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
		}

		.form__pincode>input {
			display: inline-block;
			float: left;
			width: 24%;
			height: 50px;
			line-height: 48px;
			text-align: center;
			font-size: 2em;
			color: #181819;
			border: 0;
			border-bottom: 2px solid rgba(0, 0, 0, 0.3);
			border-radius: 2px 2px 0 0;
			transition: background-color 0.3s, color 0.3s, opacity 0.3s;
			cursor: default;
			user-select: none;
			margin: 0;
			margin-top: 10px;
			margin-right: 1%;
			padding: 0;
		}

		.form__pincode>input:focus {
			outline: 0;
			box-shadow: none;
			border-color: #1486f0;
			animation: border-pulsate 1.5s infinite;
			-webkit-tap-highlight-color: transparent;
		}

		.form__pincode>input:last-child {
			margin-right: 0;
		}

		.form__pincode>input[disabled] {
			background: #eee;
			opacity: 1;
		}

		.form__buttons {
			text-align: center;
			margin: 0 auto;
			padding: 10px 0 0;
		}
	}
}

#breadcrumbs {
	margin-top: 110px;
	display: flex;
	gap: 12px;
	align-items: center;
	margin-bottom: 20px;

	@media (max-width: 600px) {
		margin-top: 80px;
	}


	.bc-link {
		@extend %text_body1;
		color: rgba($color: $clr-black, $alpha: .4);
		display: flex;
		align-items: center;
		gap: 12px;

		&::after {
			content: url('data:image/svg+xml,<svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="2.15674" cy="3" r="2.15674" fill="%23242424" fill-opacity="0.4"/></svg>');
			margin-top: -8px;
		}

		&.bc-active {

			color: $clr-black;

			&::after {
				content: none;
				width: 5px;
				height: 6px;
			}
		}
	}
}

#about-page {
	.about-paragraph {
		@extend %text_body3;
		color: rgba($color: #413E37, $alpha: 0.5);
		width: 35em;
		margin-bottom: 20px;

		@media (max-width: 600px) {
			max-width: 100%;
		}

		&:last-child {
			margin-bottom: 40px
		}
	}

	.about-paragraph-title {
		@extend %text_body2;
		font-family: $f-b;
		margin-bottom: 8px
	}
}

main:has(#success-page) {
	display: flex;
	width: 100%;
}

#success-page {
	margin-top: 70px;
	width: 100%;
	@media (max-width: 600px) {
		margin-top: 60px;
	}
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 50px 0;

		h2 {
			text-align: center;
		}

		.sp-desc {
			margin-bottom: 20px;
			text-align: center;
			color: $clr-greytext;
		}
	}
}

#user-page {
	margin-top: 110px;

	@media (max-width: 600px) {
		margin-top: 80px;
	}

	h2 {
		@media (max-width: 600px) {
			font-size: 24px;
		}
	
		@media (max-width: 380px) {
			font-size: 20px;
		}
	}
	.user-info {
		display: flex;
		gap: 20px;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $clr-greytext2;

		@media (max-width: 600px) {
			gap: 12px;
		}

		img {
			aspect-ratio: 1;
			width: 220px;
			object-fit: cover;
			border-radius: 4px;

			@media (max-width: 600px) {
				width: 95px;
			}
		}

		.user-id-orders {
			display: flex;
			gap: 20px;

			@media (max-width: 600px) {
				gap: 12px;
			}
		}

		.pt-row {
			display: flex;
			color: $clr-greytext;

			div {
				font-family: $f-b;
				color: $clr-main;
				margin-right: 3px;
			}
		}
	}

	form {

		margin-bottom: 40px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		@media (max-width: 600px) {
			gap: 12px;
		}
		button {
			width: 100%;
			line-height: 1.4em;
			@media (max-width: 600px) {
				order: 6;
			}
		}

		.default-form-field {
			width: calc(50% - 10px);

			label {
				width: 100%;
				@extend %text_body2;
				color: $clr-main;
				margin-bottom: 8px
			}

			input {
				width: 100%;
				border-radius: 4px;
				@extend %text_body2;
				color: $clr-main;
				padding: .85em .9em;
				line-height: 1em;
				border: 1px solid $clr-greytext2;
			}

			@media (max-width: 600px) {
				width: 100%;

				&:nth-child(1) {
					order: 1;
				}

				&:nth-child(2) {
					order: 4;
				}

				&:nth-child(3) {
					order: 3;
				}

				&:nth-child(4) {
					order: 5;
				}

				&:nth-child(5) {
					order: 2;
				}

			}

		}

		.default-form-field-gender {
			@media (max-width: 600px) {
				width: 100%;
				order: 4;
			}

			label:first-child {
				width: 100%;
				@extend %text_body2;
				color: $clr-main;
				margin-bottom: 8px
			}
		}

		.toggleContainer {
			position: relative;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: fit-content;
			border: 4px solid #FAF8F6;
			border-radius: 4px;
			background: #FAF8F6;
			color: $clr-greytext;
			cursor: pointer;

			@media (max-width: 600px) {
				width: 100%;
			}
		}

		.toggleContainer::before {
			content: '';
			position: absolute;
			width: 50%;
			height: 100%;
			left: 0%;
			border-radius: 3px;
			background: white;
			transition: all 0.3s;
		}

		.toggleCheckbox:checked+.toggleContainer::before {
			left: 50%;
		}

		.toggleContainer div {
			padding: 13px 20px;
			@extend %text_body2;
			text-align: center;
			z-index: 1;
		}

		.toggleCheckbox {
			display: none;
		}

		.toggleCheckbox:checked+.toggleContainer div:first-child {
			color: $clr-greytext;
			transition: color 0.3s;
		}

		.toggleCheckbox:checked+.toggleContainer div:last-child {
			color: $clr-main;
			transition: color 0.3s;
		}

		.toggleCheckbox+.toggleContainer div:first-child {
			color: $clr-main;
			transition: color 0.3s;
		}

		.toggleCheckbox+.toggleContainer div:last-child {
			color: $clr-greytext;
			transition: color 0.3s;
		}
	}
}

@import "header.scss";
@import "footer.scss";
@import "card.scss";
@import "main.scss";
@import "catalog.scss";
@import "product.scss";
@import "cart.scss";